# {{ ansible_managed }}
# official gitlab repository

deb https://packages.gitlab.com/gitlab/{{ gitlab_edition }}/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
deb-src https://packages.gitlab.com/gitlab/{{ gitlab_edition }}/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main
